.question-card {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;

  /* Visual  */
  background-color: rgb(234, 231, 231);
  padding: 16px;
  border-radius: 16px;
  color: white;
}

.ul-quiz {
  list-style: none;
}

.li-quiz {
  width: 50%;
  display: block;
  margin: 1rem auto;
  background-color: rgba(120, 120, 120, 0.544);
  padding: 16px;
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
}
.li-quiz:hover{
  background-color: rgba(186, 186, 186, 0.544);
}

.question-text {
  color: tomato;
  font-size: 24px;
}

.final-results {
  margin: 0 auto;
  width: 50%;
  height: auto;
  margin-top: 64px;
  background-color: rgb(234, 231, 231);
  padding: 16px;
  border-radius: 16px;
  color: tomato;
}

button {
  background-color: tomato;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
}
button:hover{
    background-color: rgb(251, 74, 43);
}
